#__nuxt {
    height: 100vh;
}

.flex-center {
    @apply h-full flex items-center justify-center
}

.hightlighted-big-letters {
    @apply text-p-hightlight text-5xl sm:text-7xl font-bold tracking-tightest
}

@keyframes fade-in-e {
    from {
        opacity: 0;
    }
}

.fading-text {
    animation: fade-in-e 2000ms var(--animation-index);
    animation-fill-mode: backwards;

    @apply text-p-fade font-serif italic
}

.normal-text {
    @apply text-base text-white
}

.res-mlr-5 {
    @apply sm:mr-4 sm:ml-4
}

.res-mlr-10 {
    @apply sm:mr-8 sm:ml-8
}

.n-button__content {
    @apply font-mono
}

.n-dropdown-menu {
    @apply w-40
}

.children_inline-block > * {
    @apply inline-block
}